<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>
</nav>

<h1>Stop search</h1>
<p>Don't know your stop naptanId? Look it up <a href="/find_naptanid/">Here</a></p>

<%= form_with url: "/by_stop/result", method: :get do |form| %>
  <%= form.label :naptanId, "Enter a stop naptanID:" %>
  <%= form.text_field :naptanId, placeholder: "Eg. 490008660N" %>
  <%= form.submit "go" %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>