<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>
</nav>

<h1>Result page</h1>
<p>You searched for naptanId: <%=@naptanId%>. Find additional info, eg a map to the stop, visit <a href="https://tfl.gov.uk/bus/stop/<%=@naptanId%>">Here</a></p>

<table class = "table">
  <thead>
  <tr>
    <th>Due (mins)</th>
    <th>Route</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  <%n_busses_found = @web_out_hash.length - 2 %>
  <%for j in 0..(n_busses_found) do%>
    <tr>
      <td><%=@web_out_hash[j]["arr_time"]%></td>
      <td><%=@web_out_hash[j]["line_id"] %></td>
      <td><%=@web_out_hash[j]["dest"]%></td>
    </tr>
  <%end %>
  </tbody>
</table>