<h1>Search a postcode to find nearby stops' naptan IDs</h1>

<%= form_with url: "/find_naptanid/result", method: :get do |form| %>
  <%= form.label :postcode, "Enter a postcode:" %>
  <%= form.text_field :postcode, placeholder: "Eg. NW5 1TL" %>
  <br>
  <%= form.label :radius, "Enter a radius to search (in m):" %>
  <%= form.text_field :radius, placeholder: "Eg. 300" %>
  <%= form.submit "go" %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
