<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>
</nav>

<h1>Postcode search</h1>

<%= form_with url: "/by_postcodes/result", method: :get do |form| %>
  <%= form.label :postcode, "Enter a postcode:" %>
  <%= form.text_field :postcode, placeholder: "Eg. NW5 1TL" %>
  <br>
  <%= form.label :radius, "Enter a radius to search (in m):" %>
  <%= form.text_field :radius, placeholder: "Eg. 300" %>
  <%= form.submit "go" %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>